<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/style.css">
    <title>Notes | Nota</title>
</head>

<body>
    <div class="app">
        <div class="menu">
            <ul class="real_menu">
                <li class="button_link"><a href="/profile" class="remove_underline">Profile</a></li>
                <li class="button_link"><a href="/notes" class="remove_underline">Notes</a></li>
                <li class="button_link im_big"><a href="/notes/new" class="remove_underline">New Note</a></li>
                <li class="button_link"><a href="/logout" class="remove_underline">Log Out</a></li>
            </ul>
        </div>

        <div class="page">
            <div class="notes_list">

                <div class="pinned">

                    <div class="info">
                        <h3>Pinned Notes:</h5>
                        <hr>
                    </div>

                    <div class="note">
                        <h4 class="note_header">I'm Note</h4>
                        <p class="note_text">Hello There You wrote me by the way</p>
                    </div>
                </div>

                <div class="info">
                    <h3>Other Notes:</h3>
                    <hr>
                </div>
                <div class="notes">

                    <div class="note">
                        <h4 class="note_header">I'm Note</h4>
                        <p class="note_text">Hello There You wrote me by the way</p>
                    </div>

                    <div class="note">
                        <h4 class="note_header">I'm Note</h4>
                        <p class="note_text">Hello There You wrote me by the way</p>
                    </div>

                    <div class="note">
                        <h4 class="note_header">I'm Note</h4>
                        <p class="note_text">Hello There You wrote me by the way</p>
                    </div>

                    <div class="note">
                        <h4 class="note_header">I'm Note</h4>
                        <p class="note_text">Hello There You wrote me by the way</p>
                    </div>

                    <div class="note">
                        <h4 class="note_header">I'm Note</h4>
                        <p class="note_text">Hello There You wrote me by the way</p>
                    </div>

                    <div class="note">
                        <h4 class="note_header">I'm Note</h4>
                        <p class="note_text">Hello There You wrote me by the way</p>
                    </div>

                    <div class="note">
                        <h4 class="note_header">I'm Note</h4>
                        <p class="note_text">Hello There You wrote me by the way</p>
                    </div>

                    <div class="note">
                        <h4 class="note_header">I'm Note</h4>
                        <p class="note_text">Hello There You wrote me by the way</p>
                    </div>

                    <div class="note">
                        <h4 class="note_header">I'm Note</h4>
                        <p class="note_text">Hello There You wrote me by the way</p>
                    </div>

                    <div class="note">
                        <h4 class="note_header">I'm Note</h4>
                        <p class="note_text">Hello There You wrote me by the way</p>
                    </div>

                    <div class="note">
                        <h4 class="note_header">I'm Note</h4>
                        <p class="note_text">Hello There You wrote me by the way</p>
                    </div>

                    <div class="note">
                        <h4 class="note_header">I'm Note</h4>
                        <p class="note_text">Hello There You wrote me by the way</p>
                    </div>

                    <div class="note">
                        <h4 class="note_header">I'm Note</h4>
                        <p class="note_text">Hello There You wrote me by the way</p>
                    </div>

                    <div class="note">
                        <h4 class="note_header">I'm Note</h4>
                        <p class="note_text">Hello There You wrote me by the way</p>
                    </div>

                    <div class="note">
                        <h4 class="note_header">I'm Note</h4>
                        <p class="note_text">Hello There You wrote me by the way</p>
                    </div>

                    <div class="note">
                        <h4 class="note_header">I'm Note</h4>
                        <p class="note_text">Hello There You wrote me by the way</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

</html>