<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/style.css">
    <link rel="stylesheet" href="/assets/profile.css">
    <title>New Note | Nota</title>
</head>

<body>
    <div class="app">
        <div class="menu">
            <ul class="real_menu">
                <li class="button_link"><a href="/profile" class="remove_underline">Profile</a></li>
                <li class="button_link"><a href="/notes" class="remove_underline">Notes</a></li>
                <li class="button_link im_big"><a href="/notes/new" class="remove_underline">New Note</a></li>
                <li class="button_link"><a href="/logout" class="remove_underline">Log Out</a></li>
            </ul>
        </div>

        <div class="page">
            <div class="box">
                <form action="/notes/new" method="post" class="im_form">

                    <label for="title">Title:</label>
                    <input type="text" name="title" id="title" value="Note Title" class="input">

                    <label for="body">Your Note:</label>
                    <textarea name="body" id="body" spellcheck="true"></textarea>

                    <input type="submit" value="Submit" class="input">
                </form>
            </div>
        </div>
    </div>

</body>

</html>